# Formal Semantic Parsing with Language Models

Some useful functions and some functions that you need to implement are presented in this notebook. You don't have to use them though.

In this assignment, we will evaluate the ability of language on semantic parsing task. In particular, SQL parsing. The assignment has three parts:


1.   Basic Prompt
2.   Fine-tuning
3.   Context-Free Grammar

In each parts, you will exaime the model output in terms of correctness and output well-formedness.

Part 2 and 3 can be replaced by other means such as RAG. Students are welcomed to propose their own ideas to solve this task.

References:
https://github.com/jkkummerfeld/text2sql-data/
https://github.com/epfl-dlab/transformers-CFG

In [1]:
context = '''You are an SQL database query expert, specialized in generating correct and efficient SQL query statements for complex databases, particularly for the SQLite database.
Your task is to generate SQL queries that you must follow the following requirements:
1. Follow the provided database schema; no assumptions about other tables.
2. Generate a single SQL query, strictly compatible with SQLite.
3. Use ANSI SQL syntax suitable for SQLite.
4. Output only the SQL query, prefixed with `SQL:` and ending with `;`.
5. Do not include any additional text or questions.
Below is the schema of the database, including the structure and column descriptions of 7 tables storing geographic information of the United States.
Table 1: state ( state_name, population, area, country_name, capital, density )
Table 2: city ( city_name, population, country_name, state_name )
Table 3: border_info ( state_name, border )
Table 4: highlow ( state_name, highest_elevation, lowest_point, highest_point, lowest_elevation )
Table 5: lake ( lake_name, area, country_name, state_name )
Table 6: mountain ( mountain_name, mountain_altitude, country_name, state_name )
Table 7: river ( river_name, length, country_name, traverse )
Here are some examples of natural language questions and their corresponding SQL queries:
Question: how big is texas ?
SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;
Question: what is the area of california ?
SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;
Question: how many people live in washington ?
SQL: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;
Question: what state has the smallest population ?
SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Question: what state has the largest population ?
SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Question: which rivers run through the state with the largest city in the us ?
SQL: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ;
Question: what is the area of the state with the capital albany ?
SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;
Question: which states have points higher than the highest point in colorado ?
SQL: SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ;
Question: what are the highest points of states surrounding mississippi ?
SQL: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;
Question: which states do colorado river flow through ?
SQL: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Now, please generate the SQL query for the following question:'''

making_prompt = lambda x: context.replace('\n', ' ') + ' ' + x + ' ?'

In [2]:
import json


def extract_sentence_fields(sentence):
    text = sentence['text']
    variables = sentence['variables']
    split = sentence['question-split']
    return text, variables, split


def insert_variables(sql, sql_variables, sent, sent_variables):
    for info in sql_variables:
        name = info['name']
        value = info['example']
        if name in sent_variables and sent_variables[name] != '':
            value = sent_variables[name]
        sent = value.join(sent.split(name))
        qvalue = '{}'.format(value)
        sql = qvalue.join(sql.split(name))
    return sql, sent


def build_question_split(jsons, making_prompt=making_prompt, keep_variables=False):
    datasets = {}
    for json_dict in jsons:
        for query in [json_dict['sql'][0]]:
            sql_vars = json_dict['variables']
            for sentence in json_dict['sentences']:
                text, variables, split = extract_sentence_fields(sentence)
                if split == 'exclude':
                    continue
                if keep_variables:
                    sql = query
                    question = text
                else:
                    sql, question = insert_variables(query, sql_vars, text, variables)
                if not split in datasets:
                    datasets[split] = []
                example = {'text': making_prompt(question) + ' ' + sql, 'question': question, 'sql': sql}
                datasets[split].append(example)
    return datasets


with open('geography.json', 'r') as file:
    geography_data = json.load(file)
    geography_datasets = build_question_split(geography_data)

In [3]:
import sqlite3

# .sqlite file path
file_path = 'geography-db.added-in-2020.sqlite'


def load_sqlite_file(file_path):
    try:
        # Establish a connection to the database
        conn = sqlite3.connect(file_path)
        print(f'Loaded database from {file_path}')
        return conn
    except sqlite3.Error as e:
        print(f'Error loading database: {e}')
        return None


conn = load_sqlite_file(file_path)
cursor = conn.cursor()

# Verify sql statements and delete statements that cannot be executed
for split in geography_datasets:
    for example in geography_datasets[split][:]:
        try:
            cursor.execute(example['sql'])
        except sqlite3.Error as e:
            print(split)  # Shows which part has been removed
            geography_datasets[split].remove(example)

conn.close()

Loaded database from geography-db.added-in-2020.sqlite
dev
test
test
train
train

In [4]:
def get_all_results(dataset, cursor):
    gold_answers = cursor.execute(dataset['sql']).fetchall()
    dataset['answers'] = [list(row) for row in gold_answers]
    dataset['generated_sql'] = ''
    dataset['generated_answers'] = [['']]


conn = load_sqlite_file(file_path)
cursor = conn.cursor()
for split in geography_datasets:
    for dataset in geography_datasets[split]:
        get_all_results(dataset, cursor)

# Don't forget to close the connection when you're done
conn.close()

Loaded database from geography-db.added-in-2020.sqlite

In [5]:
geography_datasets['dev'][0]

{'text': 'You are an SQL database query expert, specialized in generating correct and efficient SQL query statements for complex databases, particularly for the SQLite database. Your task is to generate SQL queries that you must follow the following requirements: 1. Follow the provided database schema; no assumptions about other tables. 2. Generate a single SQL query, strictly compatible with SQLite. 3. Use ANSI SQL syntax suitable for SQLite. 4. Output only the SQL query, prefixed with `SQL:` and ending with `;`. 5. Do not include any additional text or questions. Below is the schema of the database, including the structure and column descriptions of 7 tables storing geographic information of the United States. Table 1: state ( state_name, population, area, country_name, capital, density ) Table 2: city ( city_name, population, country_name, state_name ) Table 3: border_info ( state_name, border ) Table 4: highlow ( state_name, highest_elevation, lowest_point, highest_point, lowest_elevation ) Table 5: lake ( lake_name, area, country_name, state_name ) Table 6: mountain ( mountain_name, mountain_altitude, country_name, state_name ) Table 7: river ( river_name, length, country_name, traverse ) Here are some examples of natural language questions and their corresponding SQL queries: Question: how big is texas ? SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ; Question: what is the area of california ? SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ; Question: how many people live in washington ? SQL: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ; Question: what state has the smallest population ? SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ; Question: what state has the largest population ? SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ; Question: which rivers run through the state with the largest city in the us ? SQL: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ; Question: what is the area of the state with the capital albany ? SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ; Question: which states have points higher than the highest point in colorado ? SQL: SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ; Question: what are the highest points of states surrounding mississippi ? SQL: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ; Question: which states do colorado river flow through ? SQL: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ; Now, please generate the SQL query for the following question: what is the biggest city in arizona ? SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = "arizona" ;',
 'question': 'what is the biggest city in arizona',
 'sql': 'SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = "arizona" ;',
 'answers': [['phoenix']],
 'generated_sql': '',
 'generated_answers': [['']]}

In [6]:
def compare_results(dataset):
    tp, fp, fn, tn = 0, 0, 0, 0
    exact_match = 0

    for generated, actual in zip(dataset['generated_answers'], dataset['answers']):

        if generated == [['SQL Error']] or generated == [['']]:
            fn += len(actual)
            continue

        generated_set = set(tuple(row) for row in generated)
        actual_set = set(tuple(row) for row in actual)

        if generated_set == actual_set:
            exact_match += 1

        tp += len(generated_set & actual_set)

        fp += len(generated_set - actual_set)

        fn += len(actual_set - generated_set)

    return tp, tn, fp, fn, exact_match, exact_match / len(dataset)

In [7]:
def sql_syntax_correct_rate(dataset):
    wrong = 0

    for syntax in dataset['generated_sql']:

        if syntax == 'SQL syntax error.' or syntax == 'The SQL cannot be executed.':
            wrong += 1

    return (len(dataset) - wrong) / len(dataset)

In [8]:
def calculate_metrics(tp, fp, fn):

    precision = tp / (tp + fp) if (tp + fp) > 0 else 0

    recall = tp / (tp + fn) if (tp + fn) > 0 else 0

    f1 = (2 * precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

    return precision, recall, f1

In [9]:
import torch

device = torch.device('cuda' if torch.cuda.is_available() else 'mps' if torch.backends.mps.is_available() else 'cpu')
print(f'Using device: {device}')

Using device: cuda

In [10]:
# need to fill, should return micro/marco precision, recall, f1 and exact_match, grammatical_ratio
from transformers import GenerationConfig
from transformers_cfg.grammar_utils import IncrementalGrammarConstraint
from transformers_cfg.generation.logits_process import GrammarConstrainedLogitsProcessor


def evaluate(dataset, model, tokenizer, making_prompt=making_prompt, cfg=True, cfg_enbf='sql_query.ebnf'):
    model.eval()

    generation_config = GenerationConfig(
        max_new_tokens=128,  # Maximum number of tokens to generate, excluding input tokens
    )

    temp_dataset = []

    with torch.no_grad():
        for index, example in enumerate(dataset):
            question = example['question']

            # Generate SQL from model
            prompt = making_prompt(question)
            inputs = tokenizer(prompt, return_tensors='pt').to(device)
            if cfg:
                # Load JSON grammar
                with open(cfg_enbf, 'r') as file:
                    grammar_str = file.read()
                grammar = IncrementalGrammarConstraint(grammar_str, 'query', tokenizer)
                grammar_processor = GrammarConstrainedLogitsProcessor(grammar)
                grammar_processors = [grammar_processor]
            else:
                grammar_processors = None

            output = model.generate(
                **inputs,  # Input tokens and other configurations for the model
                generation_config=generation_config,  # Use predefined generation configuration
                logits_processor=grammar_processors,  # Constrain generation with grammar rules
            )

            # Decode output
            generated_sql = tokenizer.batch_decode(output, skip_special_tokens=True)[0][len(prompt):]

            try:
                conn = sqlite3.connect(file_path)

                start_index = generated_sql.find('SQL:')
                if start_index != -1:
                    start_index = start_index + len('SQL:')
                else:
                    start_index = generated_sql.find('SELECT')
                    if start_index == -1:
                        print(generated_sql)
                        raise SyntaxError

                end_index = generated_sql.find(';', start_index)
                if end_index == -1:
                    end_index = generated_sql.find('\n', start_index)

                generated_sql = generated_sql[start_index:end_index].strip() + ' ;'

                print(generated_sql)

                generated_answer = conn.cursor().execute(generated_sql).fetchall()
                if not generated_answer:
                    raise ValueError
                example['generated_answers'] = [list(row) for row in generated_answer]

            except sqlite3.Error:
                generated_sql = 'The SQL cannot be executed.'
                example['generated_answers'] = [['SQL Error']]
            except SyntaxError:
                generated_sql = 'SQL syntax error.'
                example['generated_answers'] = [['SQL Error']]
            except ValueError:
                generated_sql = 'The search result does not exist.'
                example['generated_answers'] = [['']]
            finally:
                example['generated_sql'] = generated_sql
                if conn:
                    conn.close()

            temp_dataset.append(example)
            print(f'Generation {index + 1}: {generated_sql}\n')

    return temp_dataset

In [11]:
from transformers import AutoModelForCausalLM, AutoTokenizer
from datasets import Dataset, DatasetDict, Features, Value, Sequence
from trl import SFTTrainer, SFTConfig

features = Features({
    'text': Value('string'),
    'question': Value('string'),
    'sql': Value('string'),
    'answers': Sequence(Sequence(Value('string'))),
    'generated_sql': Value('string'),
    'generated_answers': Sequence(Sequence(Value('string'))),
})

# Load your custom dataset
train_data = Dataset.from_list(geography_datasets['train'], features=features)
dev_data = Dataset.from_list(geography_datasets['dev'], features=features)
test_data = Dataset.from_list(geography_datasets['test'], features=features)

dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})

WARNING:tensorflow:From C:\Users\Kevin\anaconda3\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Load the model and tokenizer
model_name = 'HuggingFaceTB/SmolLM2-360M-Instruct'  # or any other model
model = AutoModelForCausalLM.from_pretrained(model_name).to(device)
tokenizer = AutoTokenizer.from_pretrained(model_name)

# Add a padding token to the tokenizer
tokenizer.pad_token = tokenizer.eos_token  # Use eos_token as pad_token

In [13]:
print(dataset['dev'][0])

{'text': 'You are an SQL database query expert, specialized in generating correct and efficient SQL query statements for complex databases, particularly for the SQLite database. Your task is to generate SQL queries that you must follow the following requirements: 1. Follow the provided database schema; no assumptions about other tables. 2. Generate a single SQL query, strictly compatible with SQLite. 3. Use ANSI SQL syntax suitable for SQLite. 4. Output only the SQL query, prefixed with `SQL:` and ending with `;`. 5. Do not include any additional text or questions. Below is the schema of the database, including the structure and column descriptions of 7 tables storing geographic information of the United States. Table 1: state ( state_name, population, area, country_name, capital, density ) Table 2: city ( city_name, population, country_name, state_name ) Table 3: border_info ( state_name, border ) Table 4: highlow ( state_name, highest_elevation, lowest_point, highest_point, lowest_elevation ) Table 5: lake ( lake_name, area, country_name, state_name ) Table 6: mountain ( mountain_name, mountain_altitude, country_name, state_name ) Table 7: river ( river_name, length, country_name, traverse ) Here are some examples of natural language questions and their corresponding SQL queries: Question: how big is texas ? SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ; Question: what is the area of california ? SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ; Question: how many people live in washington ? SQL: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ; Question: what state has the smallest population ? SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ; Question: what state has the largest population ? SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ; Question: which rivers run through the state with the largest city in the us ? SQL: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ; Question: what is the area of the state with the capital albany ? SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ; Question: which states have points higher than the highest point in colorado ? SQL: SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ; Question: what are the highest points of states surrounding mississippi ? SQL: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ; Question: which states do colorado river flow through ? SQL: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ; Now, please generate the SQL query for the following question: what is the biggest city in arizona ? SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = "arizona" ;', 'question': 'what is the biggest city in arizona', 'sql': 'SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = "arizona" ;', 'answers': [['phoenix']], 'generated_sql': '', 'generated_answers': [['']]}

In [14]:
temp_dataset_dev = evaluate(dataset['dev'], model, tokenizer, cfg=False)

SELECT CITYalias0.NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "albuquerque" ;
Generation 1: The SQL cannot be executed.

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "texas" ) ;
Generation 2: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "texas" ) ;

SELECT CITYalias0.NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "mo" ;
Generation 3: The SQL cannot be executed.

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "washington" ) ) ;
Generation 4: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "washington" ) ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;
Generation 5: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;
Generation 6: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;
Generation 7: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;
Generation 8: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ;
Generation 9: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" SQL: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany ;
Generation 10: The SQL cannot be executed.

SELECT LOCALITY0.LACESTYPE FROM LOCALITY0 WHERE LOCALITY0.LACESTYPE IN ( SELECT LOCALITY1.LACESTYPE FROM LOCALITY1 WHERE LOCALITY1.LACESTYPE = "lake" ) ;
Generation 11: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION > ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.POPULATION = ( SELECT MAX( STATEalias2.POPULATION ) FROM STATE AS STATEalias2 WHERE STATEalias2.POPULATION = ( SELECT MAX( STATEalias3.POPULATION ) FROM STATE AS STATEalias3 WHERE STATEalias3.POPULATIO ;
Generation 12: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.POPULATION = ( SELECT MAX( STATEalias2.POPULATION ) FROM STATE AS STATEalias2 WHERE STATEalias2.POPULATION = ( SELECT MAX( STATEalias3.POPULATION ) FROM STATE AS STATEalias3 WHERE STATEalias3.POPULATIO ;
Generation 13: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.POPULATION = ( SELECT MAX( STATEalias2.POPULATION ) FROM STATE AS STATEalias2 WHERE STATEalias2.POPULATION = ( SELECT MAX( STATEalias3.POPULATION ) FROM STATE AS STATEalias3 WHERE STATEalias3.POPULATIO ;
Generation 14: The SQL cannot be executed.

SELECT STATEalias0.BORDER FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER IN ( SELECT STATEalias1.BORDER FROM STATE AS STATEalias1 WHERE STATEalias1.BORDER = "mississippi" ) ;
Generation 15: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ;
Generation 16: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ;

SELECT LOWLEVEL FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "pennsylvania" ;
Generation 17: The SQL cannot be executed.

SELECT STATEalias0.HIGHEST_POINT FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.HIGHEST_POINT ) FROM STATE AS STATEalias1 WHERE STATEalias1.POPULATION = ( SELECT MAX( STATEalias2.HIGHEST_POINT ) FROM STATE AS STATEalias2 WHERE STATEalias2.POPULATION = ( SELECT MAX( STATEalias3.HIGHEST_POINT ) FROM STATE AS STATEalias3 WHER ;
Generation 18: The SQL cannot be executed.

SELECT LENGTH FROM RIVER WHERE LENGTH > ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RIVER WHERE LENGTH = ( SELECT LENGTH FROM RI ;
Generation 19: The SQL cannot be executed.

SELECT RIVERalias0.LONGEST_RIVER FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LONGEST_RIVER = ( SELECT LONGEST_RIVER_NAME FROM RIVER AS LONGEST_RIVER_NAME WHERE LONGEST_RIVER_NAME = "new york" ) ;
Generation 20: The SQL cannot be executed.

SELECT COUNT(*) FROM RIVER WHERE RIVER_NAME IN ( SELECT RIVER_NAME FROM RIVER WHERE RIVER_NAME NOT IN ( SELECT RIVER_NAME FROM RIVER WHERE RIVER_NAME NOT IN ( SELECT RIVER_NAME FROM RIVER WHERE RIVER_NAME NOT IN ( SELECT RIVER_NAME FROM RIVER WHERE RIVER_NAME NOT IN ( SELECT RIVER_NAME FROM RIVER WHERE RIVER_NAME NOT IN ( SELECT RIVER_NAME FROM RIVER WHERE RIVE ;
Generation 21: The SQL cannot be executed.

SELECT STATEalias0.BORDER FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER IN ( SELECT STATEalias1.BORDER FROM STATE AS STATEalias1 WHERE STATEalias1.BORDER = "maine" ) ;
Generation 22: The SQL cannot be executed.

SELECT STATEalias0.BORDER FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER = "iowa" ;
Generation 23: The SQL cannot be executed.

SELECT STATEalias0.BORDER FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER = "delaware" ;
Generation 24: The SQL cannot be executed.

SELECT COUNT(*) FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER IN ( SELECT STATEalias1.BORDER FROM STATE AS STATEalias1 WHERE STATEalias1.BORDER = ( SELECT MAX( STATEalias2.BORDER ) FROM STATE AS STATEalias2 WHERE STATEalias2.BORDER = ( SELECT MAX( STATEalias3.BORDER ) FROM STATE AS STATEalias3 WHERE STATEalias3.BORDER = ( SELECT MAX( STATEalias4.BORDER ) FROM STATE AS STATEalias ;
Generation 25: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "dallas" SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "dallas" SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "dallas" SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL ;
Generation 26: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "san diego" ;
Generation 27: The search result does not exist.

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.AREA = ( SELECT MAX( STATEalias2.POPULATION ) FROM STATE AS STATEalias2 WHERE STATEalias2.AREA = ( SELECT MAX( STATEalias3.POPULATION ) FROM STATE AS STATEalias3 WHERE STATEalias3.AREA = ( SELECT MAX( STAT ;
Generation 28: The SQL cannot be executed.

SELECT POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "chicago" ;
Generation 29: SELECT POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "chicago" ;

SELECT POPULATION FROM DALLS AS DALLS WHERE DALLS.POPULATION = ( SELECT MAX( DALLS.POPULATION ) FROM DALLS ) ;
Generation 30: The SQL cannot be executed.

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "arkansas" ;
Generation 31: The search result does not exist.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.RIVER_NAME = "river" SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.RIVER_NAME = "river" SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.RIVER_NAME = "river" SQL: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0. ;
Generation 32: The SQL cannot be executed.

SELECT PERCENTAGE FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ) ;
Generation 33: The SQL cannot be executed.

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;
Generation 34: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;

SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;
Generation 35: SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;
Generation 36: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;

SELECT RIVERalias0.LONGEST_RIVER FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LONGEST_RIVER = ( SELECT LONGEST_RIVER_FROM_US FROM RIVER AS LONGEST_RIVER_FROM_US WHERE LONGEST_RIVER_FROM_US.STATE_NAME = "us" ) ;
Generation 37: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alabama" ) ;
Generation 38: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alabama" ) ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "alaska" AND CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "alaska" ) ;
Generation 39: The search result does not exist.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ;
Generation 40: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alaska" ) ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.BORDER = "mississippi" ) ;
Generation 41: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.BORDER = "mississippi" ) ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alabama" ) ;
Generation 42: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alabama" ) ;

SELECT LONGEST_RIVER_NAME FROM RIVER_LONGEST_RIVER WHERE LONGEST_RIVER_NAME IN ( SELECT RIVER_NAME FROM RIVER_LONGEST_RIVER WHERE RIVER_NAME IN ( SELECT RIVER_NAME FROM RIVER_LONGEST_RIVER WHERE RIVER_NAME IN ( SELECT RIVER_NAME FROM RIVER_LONGEST_RIVER WHERE RIVER_NAME IN ( SELECT RIVER_NAME FROM RIVER_LONGES ;
Generation 43: The SQL cannot be executed.

SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_POINT = ( SELECT HIGHLOWalias1.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "montana" ) ;
Generation 44: SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_POINT = ( SELECT HIGHLOWalias1.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "montana" ) ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER = "" ;
Generation 45: The SQL cannot be executed.

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION < ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alabama" ) ;
Generation 46: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION < ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "alabama" ) ;

SELECT POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "atlanta" SQL: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "atlanta" SQL: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "atlanta" SQL: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAM ;
Generation 47: The SQL cannot be executed.

SELECT RIVERalias0.RIVER_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;
Generation 48: The SQL cannot be executed.

In [15]:
dev_data = Dataset.from_list(temp_dataset_dev, features=features)
dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})
tp, tn, fp, fn, exact_match, exact_match_rate = compare_results(dataset['dev'])
syntax_rate = sql_syntax_correct_rate(dataset['dev'])
precision, recall, f1 = calculate_metrics(tp, fp, fn)

print(f'tp: {tp}, tn: {tn}, fp: {fp}, fn: {fn}, exact match: {exact_match}, exact match rate: {exact_match_rate}')
print(f'sql syntax rate: {syntax_rate}')
print(f'precision: {precision}, recall: {recall}, f1 score: {f1}')

tp: 9, tn: 0, fp: 37, fn: 171, exact match: 8, exact match rate: 0.16666666666666666
sql syntax rate: 0.4375
precision: 0.1956521739130435, recall: 0.05, f1 score: 0.07964601769911504

In [19]:
temp_dataset_dev = evaluate(dataset['dev'], model, tokenizer)

SELECT	CITY.CITY_NAME	FROM	CITY	WHERE	CITY.CITY_NAME	=	"chances" ;
Generation 1: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas"	AND	STATE.POPULATION	=	(SELECT	MAX(	STATE.POPULATION)	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas"	)	AND	STATE.CAPITAL	=	"alexandria"	AND	STATE.AREA	=	(SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"te ;
Generation 2: The SQL cannot be executed.

SELECT	CITY.STATE_NAME	FROM	CITY	WHERE	CITY.POPULATION	>	(SELECT	MAX(CITY.POPULATION)	FROM	CITY	WHERE	CITY.STATE_NAME	=	"missouri") ;
Generation 3: SELECT	CITY.STATE_NAME	FROM	CITY	WHERE	CITY.POPULATION	>	(SELECT	MAX(CITY.POPULATION)	FROM	CITY	WHERE	CITY.STATE_NAME	=	"missouri") ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"alaska" ;
Generation 4: The search result does not exist.

SELECT	STATE.STATE_NAME	,	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas" ;
Generation 5: SELECT	STATE.STATE_NAME	,	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas" ;

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"california" ;
Generation 6: SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"california" ;

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"new_mexico" ;
Generation 7: The search result does not exist.

SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.STATE_NAME	=	"washington" ;
Generation 8: SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.STATE_NAME	=	"washington" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	<>	100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 9: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	<>	100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.CAPITAL	=	"albany" ;
Generation 10: SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.CAPITAL	=	"albany" ;

SELECT	LAKE.LAKE_NAME	FROM	LAKE	WHERE	LAKE.STATE_NAME	=	"california" ;
Generation 11: SELECT	LAKE.LAKE_NAME	FROM	LAKE	WHERE	LAKE.STATE_NAME	=	"california" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	>	10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 12: The search result does not exist.

SELECT	RIVER.STATE_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"colorado" ;
Generation 13: The SQL cannot be executed.

SELECT	RIVER.STATE_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"colorado" ;
Generation 14: The SQL cannot be executed.

SELECT	RIVER.STATE_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"mississippi" ;
Generation 15: The SQL cannot be executed.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	(SELECT	MAX(	STATE.POPULATION)	FROM	STATE	WHERE	STATE.POPULATION	=	1000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 16: The SQL cannot be executed.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 17: The search result does not exist.

SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.HIGHEST_POINT	>	(SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"sea_level") ;
Generation 18: The search result does not exist.

SELECT	RIVER.LENGTH	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"alaska" ;
Generation 19: The search result does not exist.

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"new_york" ;
Generation 20: The search result does not exist.

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"new_york" ;
Generation 21: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"maine" ;
Generation 22: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"maine" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.BORDER	=	"iowa" ;
Generation 23: The SQL cannot be executed.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"delaware" ;
Generation 24: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"delaware" ;

SELECT	COUNT(*)	FROM	STATE	WHERE	BORDER_INFO.BORDER	=	"colorado"	AND	BORDER_INFO.BORDER	=	"mississippi"	AND	BORDER_INFO.BORDER	=	"new_york"	AND	BORDER_INFO.BORDER	=	"alaska"	AND	BORDER_INFO.BORDER	=	"new_york"	AND	BORDER_INFO.BORDER	=	"alaska"	AND	BORDER_INFO.BORDER ;
Generation 25: The SQL cannot be executed.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"dallas" ;
Generation 26: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"san_diego" ;
Generation 27: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.AREA	>	100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 28: The search result does not exist.

SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.POPULATION	=	1990 ;
Generation 29: The search result does not exist.

SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.POPULATION	=	"dallas" ;
Generation 30: The search result does not exist.

SELECT	CITY.CITY_NAME	FROM	CITY	WHERE	CITY.CITY_NAME	=	"arkansas" ;
Generation 31: The search result does not exist.

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"alaska" ;
Generation 32: The search result does not exist.

SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.AREA	<=	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 33: SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.AREA	<=	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;

SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.HIGHEST_POINT	>	(SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"colorado") ;
Generation 34: SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.HIGHEST_POINT	>	(SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"colorado") ;

SELECT	HIGHLOW.HIGHEST_ELEVATION	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"new_mexico" ;
Generation 35: The search result does not exist.

SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"florida" ;
Generation 36: SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"florida" ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	>	(SELECT	MAX(RIVER.TRAVERSE)	FROM	RIVER	WHERE	RIVER.STATE_NAME	=	"alaska"	)	AND	RIVER.STATE_NAME	=	"alaska"		AND	RIVER.TRAVERSE	>	(SELECT	MAX(RIVER.TRAVERSE)	FROM	RIVER	WHERE ;
Generation 37: The SQL cannot be executed.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	(SELECT	MAX(CITY.POPULATION)	FROM	CITY	WHERE	CITY.STATE_NAME	=	"alaska") ;
Generation 38: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	<>	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 39: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	<>	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	>	10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 40: The search result does not exist.

SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"mississippi" ;
Generation 41: SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"mississippi" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	<>	100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 42: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	<>	100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	(SELECT	MAX(RIVER.TRAVERSE)	FROM	RIVER	WHERE	RIVER.STATE_NAME	=	"northeast"	)	AND	RIVER.BORDER	=	(SELECT	MAX(RIVER.BORDER)	FROM	RIVER	WHERE	RIVER.STATE_NAME	=	"northeast"	)	AND ;
Generation 43: The SQL cannot be executed.

SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"montana" ;
Generation 44: SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"montana" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.BORDER	=	"none" ;
Generation 45: The SQL cannot be executed.

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.POPULATION	<>	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;
Generation 46: SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.POPULATION	<>	1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 ;

SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.STATE_NAME	=	"alabama" ;
Generation 47: SELECT	STATE.POPULATION	FROM	STATE	WHERE	STATE.STATE_NAME	=	"alabama" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas" ;
Generation 48: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas" ;

In [20]:
dev_data = Dataset.from_list(temp_dataset_dev, features=features)
dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})
tp, tn, fp, fn, exact_match, exact_match_rate = compare_results(dataset['dev'])
syntax_rate = sql_syntax_correct_rate(dataset['dev'])
precision, recall, f1 = calculate_metrics(tp, fp, fn)

print(f'tp: {tp}, tn: {tn}, fp: {fp}, fn: {fn}, exact match: {exact_match}, exact match rate: {exact_match_rate}')
print(f'sql syntax rate: {syntax_rate}')
print(f'precision: {precision}, recall: {recall}, f1 score: {f1}')

tp: 14, tn: 0, fp: 292, fn: 166, exact match: 4, exact match rate: 0.08333333333333333
sql syntax rate: 0.7916666666666666
precision: 0.0457516339869281, recall: 0.07777777777777778, f1 score: 0.05761316872427983

In [31]:
train_dataset = Dataset.from_list([{'text': making_prompt(example['question']) + example['sql']} for example in dataset['train']])
test_dataset = Dataset.from_list([{'text': making_prompt(example['question']) + example['sql']} for example in dataset['test']])
dev_dataset = Dataset.from_list([{'text': making_prompt(example['question']) + example['sql']} for example in dataset['dev']])

In [22]:
# try figure out how to set up the fine-tuning config
sft_config = SFTConfig(
    num_train_epochs=3,
    max_seq_length=1200,
    dataset_batch_size=2,
    per_device_train_batch_size=1,
    per_device_eval_batch_size=1,
    gradient_accumulation_steps=1,
    fp16=True,
    logging_steps=100,
    logging_dir='./smo_fine_tuned_model',
    output_dir='./smo_fine_tuned_model',
)

# Create the SFT Trainer
trainer = SFTTrainer(
    model=model,
    tokenizer=tokenizer,
    train_dataset=train_dataset,
    eval_dataset=test_dataset,
    args=sft_config,
)

# Fine-tune the model
trainer.train()

# Save the fine-tuned model
trainer.save_model('./smo_final_fine_tuned_model')

Map:   0%|          | 0/547 [00:00<?, ? examples/s]

Map:   0%|          | 0/277 [00:00<?, ? examples/s]

In [23]:
temp_dataset_dev = evaluate(dataset['dev'], model, tokenizer, cfg=False)

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = " Arizona" ;
Generation 1: The search result does not exist.

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "texas" ) AND CITYalias0.STATE_NAME = "texas" ;
Generation 2: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "texas" ) AND CITYalias0.STATE_NAME = "texas" ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "missouri" ) AND CITYalias0.STATE_NAME = "missouri" ;
Generation 3: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "missouri" ) AND CITYalias0.STATE_NAME = "missouri" ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ) ;
Generation 4: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;
Generation 5: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;
Generation 6: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;
Generation 7: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;
Generation 8: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 9: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;
Generation 10: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;

SELECT LAKEalias0.LAKE_NAME FROM LAKE AS LAKEalias0 WHERE LAKEalias0.STATE_NAME = "california" ;
Generation 11: SELECT LAKEalias0.LAKE_NAME FROM LAKE AS LAKEalias0 WHERE LAKEalias0.STATE_NAME = "california" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 ;
Generation 12: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Generation 13: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Generation 14: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME IN ( SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "mississippi" ) ;
Generation 15: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME IN ( SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "mississippi" ) ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 16: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.LOWEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "pennsylvania" ;
Generation 17: SELECT HIGHLOWalias0.LOWEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "pennsylvania" ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.LOWEST_ELEVATION = ( SELECT MIN( HIGHLOWalias1.LOWEST_ELEVATION ) FROM HIGHLOW AS HIGHLOWalias1 ) ;
Generation 18: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.LOWEST_ELEVATION = ( SELECT MIN( HIGHLOWalias1.LOWEST_ELEVATION ) FROM HIGHLOW AS HIGHLOWalias1 ) ;

SELECT DISTINCT RIVERalias0.LENGTH FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;
Generation 19: SELECT DISTINCT RIVERalias0.LENGTH FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 WHERE RIVERalias1.TRAVERSE = "new york" ) AND RIVERalias0.TRAVERSE = "new york" ;
Generation 20: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 WHERE RIVERalias1.TRAVERSE = "new york" ) AND RIVERalias0.TRAVERSE = "new york" ;

SELECT COUNT( RIVERalias0.RIVER_NAME ) FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE = "new york" ;
Generation 21: SELECT COUNT( RIVERalias0.RIVER_NAME ) FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE = "new york" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "maine" ;
Generation 22: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "maine" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "iowa" ;
Generation 23: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "iowa" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "delaware" ;
Generation 24: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "delaware" ;

SELECT COUNT( BORDER_INFOalias0.BORDER ) FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME IN ( SELECT BORDER_INFOalias1.BORDER FROM BORDER_INFO AS BORDER_INFOalias1 WHERE BORDER_INFOalias1.STATE_NAME IN ( SELECT BORDER_INFOalias2.BORDER FROM BORDER_INFO AS BORDER_INFOalias2 WHERE BORDER_INFOalias2.STATE_NAME IN ( SELECT BORDER_INFOalias3.BORDER FROM BORDER_INFO AS BORDER ;
Generation 25: The SQL cannot be executed.

SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;
Generation 26: SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;

SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "san diego" ;
Generation 27: SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "san diego" ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 28: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "chicago" ;
Generation 29: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "chicago" ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;
Generation 30: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arkansas" ) AND CITYalias0.STATE_NAME = "arkansas" ;
Generation 31: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arkansas" ) AND CITYalias0.STATE_NAME = "arkansas" ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;
Generation 32: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;

SELECT STATEalias0.DENSITY FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MIN( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 33: SELECT STATEalias0.DENSITY FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MIN( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ;
Generation 34: SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ;

SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;
Generation 35: SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;

SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;
Generation 36: SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;
Generation 37: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;

SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ;
Generation 38: SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME IN ( SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ) ) AND CITYalias0.STATE_NAME IN ( SELECT STATEalias2 ;
Generation 39: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 40: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;
Generation 41: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;
Generation 42: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 , BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME IN ( SELECT BORDER_INFOalias1.BORDER FROM BORDER_INFO AS BORDER_INFOalias1 WHERE BORDER_INFOalias1.STATE_NAME IN ( SELECT BORDER_INFOalias2.BORDER FROM BORDER_INF ;
Generation 43: The SQL cannot be executed.

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "montana" ;
Generation 44: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "montana" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME NOT IN ( SELECT BORDER_INFOalias0.STATE_NAME FROM BORDER_INFO AS BORDER_INFOalias0 ) ;
Generation 45: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME NOT IN ( SELECT BORDER_INFOalias0.STATE_NAME FROM BORDER_INFO AS BORDER_INFOalias0 ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;
Generation 46: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "atlanta" AND CITYalias0.STATE_NAME = "georgia" ;
Generation 47: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "atlanta" AND CITYalias0.STATE_NAME = "georgia" ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH > 750 AND RIVERalias0.TRAVERSE = "texas" ;
Generation 48: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH > 750 AND RIVERalias0.TRAVERSE = "texas" ;

In [24]:
dev_data = Dataset.from_list(temp_dataset_dev, features=features)
dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})
tp, tn, fp, fn, exact_match, exact_match_rate = compare_results(dataset['dev'])
syntax_rate = sql_syntax_correct_rate(dataset['dev'])
precision, recall, f1 = calculate_metrics(tp, fp, fn)

print(f'tp: {tp}, tn: {tn}, fp: {fp}, fn: {fn}, exact match: {exact_match}, exact match rate: {exact_match_rate}')
print(f'sql syntax rate: {syntax_rate}')
print(f'precision: {precision}, recall: {recall}, f1 score: {f1}')

tp: 142, tn: 0, fp: 16, fn: 30, exact match: 41, exact match rate: 0.8541666666666666
sql syntax rate: 0.9375
precision: 0.8987341772151899, recall: 0.8255813953488372, f1 score: 0.8606060606060606

In [25]:
temp_dataset_dev = evaluate(dataset['dev'], model, tokenizer)

SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(SELECT	MAX(CITY.POPULATION)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"arizona"	) ;
Generation 1: SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(SELECT	MAX(CITY.POPULATION)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"arizona"	) ;

SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(	SELECT	MAX(	CITY.POPULATION	)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"texas"	) ;
Generation 2: SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(	SELECT	MAX(	CITY.POPULATION	)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"texas"	) ;

SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(SELECT	MAX(CITY.POPULATION)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"missouri"	) ;
Generation 3: SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(SELECT	MAX(CITY.POPULATION)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"missouri"	) ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	(	SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	150000	) ;
Generation 4: The search result does not exist.

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas" ;
Generation 5: SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"texas" ;

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"california" ;
Generation 6: SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"california" ;

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.STATE_NAME	=	"new_mexico" ;
Generation 7: The search result does not exist.

SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.STATE_NAME	=	"washington" ;
Generation 8: SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.STATE_NAME	=	"washington" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	(SELECT	MIN(STATE.POPULATION)	FROM	STATE	) ;
Generation 9: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	(SELECT	MIN(STATE.POPULATION)	FROM	STATE	) ;

SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.CAPITAL	=	"albany" ;
Generation 10: SELECT	STATE.AREA	FROM	STATE	WHERE	STATE.CAPITAL	=	"albany" ;

SELECT	LAKE.LAKE_NAME	FROM	LAKE	WHERE	LAKE.STATE_NAME	=	"california" ;
Generation 11: SELECT	LAKE.LAKE_NAME	FROM	LAKE	WHERE	LAKE.STATE_NAME	=	"california" ;

SELECT	STATE.STATE_NAME	FROM	STATE ;
Generation 12: SELECT	STATE.STATE_NAME	FROM	STATE ;

SELECT	RIVER.TRAVERSE	FROM	RIVER	WHERE	RIVER.RIVER_NAME	=	"colorado" ;
Generation 13: SELECT	RIVER.TRAVERSE	FROM	RIVER	WHERE	RIVER.RIVER_NAME	=	"colorado" ;

SELECT	RIVER.TRAVERSE	FROM	RIVER	WHERE	RIVER.RIVER_NAME	=	"colorado" ;
Generation 14: SELECT	RIVER.TRAVERSE	FROM	RIVER	WHERE	RIVER.RIVER_NAME	=	"colorado" ;

SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"mississippi" ;
Generation 15: SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"mississippi" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	(SELECT	MAX(	STATE.POPULATION)	FROM	STATE	) ;
Generation 16: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.POPULATION	=	(SELECT	MAX(	STATE.POPULATION)	FROM	STATE	) ;

SELECT	HIGHLOW.LOWEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"pennsylvania" ;
Generation 17: SELECT	HIGHLOW.LOWEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"pennsylvania" ;

SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW		WHERE	HIGHLOW.LOWEST_ELEVATION	<=	(SELECT	MIN(	HIGHLOW.LOWEST_ELEVATION)	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"sea"	) ;
Generation 18: The search result does not exist.

SELECT	RIVER.LENGTH	FROM	RIVER	WHERE	RIVER.LENGTH	=	(SELECT	MAX(	RIVER.LENGTH	)	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"usa"	) ;
Generation 19: The search result does not exist.

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.LENGTH	=	(SELECT	MAX(RIVER.LENGTH)	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"new_york"	)	AND	RIVER.TRAVERSE	=	"new_york" ;
Generation 20: The search result does not exist.

SELECT	COUNT(RIVER.RIVER_NAME)	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"new_york" ;
Generation 21: SELECT	COUNT(RIVER.RIVER_NAME)	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"new_york" ;

SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"maine" ;
Generation 22: SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"maine" ;

SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"iowa" ;
Generation 23: SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"iowa" ;

SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"delaware" ;
Generation 24: SELECT	BORDER_INFO.BORDER	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	"delaware" ;

SELECT	COUNT(	BORDER_INFO.BORDER	)	FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	=	(	SELECT	BORDER_INFO.BORDER		FROM	BORDER_INFO		WHERE	BORDER_INFO.STATE_NAME	= ;
Generation 25: The SQL cannot be executed.

SELECT	CITY.STATE_NAME	FROM	CITY		WHERE	CITY.CITY_NAME	=	"dallas" ;
Generation 26: SELECT	CITY.STATE_NAME	FROM	CITY		WHERE	CITY.CITY_NAME	=	"dallas" ;

SELECT	CITY.STATE_NAME	FROM	CITY		WHERE	CITY.CITY_NAME	=	"san_diego" ;
Generation 27: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.AREA	=	(SELECT	MAX(	STATE.AREA	)	FROM	STATE		) ;
Generation 28: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.AREA	=	(SELECT	MAX(	STATE.AREA	)	FROM	STATE		) ;

SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.CITY_NAME	=	"chicago" ;
Generation 29: SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.CITY_NAME	=	"chicago" ;

SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.CITY_NAME	=	"dallas" ;
Generation 30: SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.CITY_NAME	=	"dallas" ;

SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	<=	150000		AND	CITY.STATE_NAME	=	"arkansas" ;
Generation 31: SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	<=	150000		AND	CITY.STATE_NAME	=	"arkansas" ;

SELECT	RIVER.TRAVERSE	FROM	RIVER	WHERE	RIVER.LENGTH	=	(SELECT	MAX(RIVER.LENGTH)	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"largest"	) ;
Generation 32: The search result does not exist.

SELECT	STATE.DENSITY	FROM	STATE	WHERE	STATE.AREA	<=	(SELECT	MIN(STATE.AREA)	FROM	STATE	) ;
Generation 33: SELECT	STATE.DENSITY	FROM	STATE	WHERE	STATE.AREA	<=	(SELECT	MIN(STATE.AREA)	FROM	STATE	) ;

SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.HIGHEST_ELEVATION	>	(	SELECT	HIGHLOW.HIGHEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"colorado"	) ;
Generation 34: SELECT	HIGHLOW.STATE_NAME	FROM	HIGHLOW	WHERE	HIGHLOW.HIGHEST_ELEVATION	>	(	SELECT	HIGHLOW.HIGHEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"colorado"	) ;

SELECT	HIGHLOW.HIGHEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"new_mexico" ;
Generation 35: The search result does not exist.

SELECT	HIGHLOW.HIGHEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"florida" ;
Generation 36: SELECT	HIGHLOW.HIGHEST_ELEVATION	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME	=	"florida" ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.LENGTH	=	(SELECT	MAX(RIVER.LENGTH)	FROM	RIVER	WHERE	RIVER.TRAVERSE	=	"us"	) ;
Generation 37: The search result does not exist.

SELECT	CITY.STATE_NAME	FROM	CITY		WHERE	CITY.POPULATION	=	(SELECT	MAX(CITY.POPULATION)	FROM	CITY		WHERE	CITY.STATE_NAME	=	"city"	) ;
Generation 38: The search result does not exist.

SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	<>	(	SELECT	MAX(	CITY.POPULATION	)	FROM	CITY		WHERE	CITY.STATE_NAME	=		"alaska"	) ;
Generation 39: SELECT	CITY.CITY_NAME	FROM	CITY		WHERE	CITY.POPULATION	<>	(	SELECT	MAX(	CITY.POPULATION	)	FROM	CITY		WHERE	CITY.STATE_NAME	=		"alaska"	) ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.AREA	=	(SELECT	MAX(	STATE.AREA	)	FROM	STATE	) ;
Generation 40: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.AREA	=	(SELECT	MAX(	STATE.AREA	)	FROM	STATE	) ;

SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME		=	"mississippi" ;
Generation 41: SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW		WHERE	HIGHLOW.STATE_NAME		=	"mississippi" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.DENSITY	=	(SELECT	MIN(STATE.DENSITY)	FROM	STATE		) ;
Generation 42: SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.DENSITY	=	(SELECT	MIN(STATE.DENSITY)	FROM	STATE		) ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.LENGTH	=	(	SELECT	MAX(	RIVER.LENGTH	)	FROM	RIVER		WHERE	RIVER.TRAVERSE	=		"boulder"		GROUP BY	RIVER.TRAVERSE	)	AND	RIVER.TRAVERSE	=		"boulder"		AND	RIVER.RIVER_NAME	=		"colorado" ;
Generation 43: The search result does not exist.

SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"montana" ;
Generation 44: SELECT	HIGHLOW.HIGHEST_POINT	FROM	HIGHLOW	WHERE	HIGHLOW.STATE_NAME	=	"montana" ;

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.STATE_NAME	=	"none" ;
Generation 45: The search result does not exist.

SELECT	STATE.STATE_NAME	FROM	STATE	WHERE	STATE.DENSITY	=	(SELECT	MIN(STATE.DENSITY)	FROM	STATE		WHERE	STATE.STATE_NAME	=	"smallest_state"	) ;
Generation 46: The search result does not exist.

SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.CITY_NAME	=	"atlanta"		AND	CITY.STATE_NAME	=	"georgia" ;
Generation 47: SELECT	CITY.POPULATION	FROM	CITY		WHERE	CITY.CITY_NAME	=	"atlanta"		AND	CITY.STATE_NAME	=	"georgia" ;

SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.LENGTH	>	750	AND	RIVER.TRAVERSE	=	"texas" ;
Generation 48: SELECT	RIVER.RIVER_NAME	FROM	RIVER	WHERE	RIVER.LENGTH	>	750	AND	RIVER.TRAVERSE	=	"texas" ;

In [26]:
dev_data = Dataset.from_list(temp_dataset_dev, features=features)
dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})
tp, tn, fp, fn, exact_match, exact_match_rate = compare_results(dataset['dev'])
syntax_rate = sql_syntax_correct_rate(dataset['dev'])
precision, recall, f1 = calculate_metrics(tp, fp, fn)

print(f'tp: {tp}, tn: {tn}, fp: {fp}, fn: {fn}, exact match: {exact_match}, exact match rate: {exact_match_rate}')
print(f'sql syntax rate: {syntax_rate}')
print(f'precision: {precision}, recall: {recall}, f1 score: {f1}')

tp: 113, tn: 0, fp: 376, fn: 66, exact match: 27, exact match rate: 0.5625
sql syntax rate: 0.9791666666666666
precision: 0.2310838445807771, recall: 0.6312849162011173, f1 score: 0.3383233532934131

In [12]:
from transformers import AutoModelForCausalLM, AutoTokenizer

model_name = 'Qwen/Qwen2.5-0.5B-Instruct'
model = AutoModelForCausalLM.from_pretrained(model_name).to(device)
tokenizer = AutoTokenizer.from_pretrained(model_name, legacy=False)

# Add a padding token to the tokenizer
tokenizer.pad_token = tokenizer.eos_token  # Use eos_token as pad_token

In [16]:
temp_dataset_dev = evaluate(dataset['dev'], model, tokenizer)

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "arizona" ORDER BY CITYalias0.POPULATION DESC LIMIT 1 ;
Generation 1: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "arizona" ORDER BY CITYalias0.POPULATION DESC LIMIT 1 ;

SELECT T1.city_name FROM city AS T1 INNER JOIN state AS T2 ON T1.state_name = T2.state_name WHERE T2.state_name = "texas" ORDER BY T1.population DESC LIMIT 1 ;
Generation 2: SELECT T1.city_name FROM city AS T1 INNER JOIN state AS T2 ON T1.state_name = T2.state_name WHERE T2.state_name = "texas" ORDER BY T1.population DESC LIMIT 1 ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "missouri" ORDER BY CITYalias0.POPULATION DESC LIMIT 1 ;
Generation 3: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "missouri" ORDER BY CITYalias0.POPULATION DESC LIMIT 1 ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ;
Generation 4: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;
Generation 5: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;
Generation 6: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;
Generation 7: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;
Generation 8: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "washington" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 9: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;
Generation 10: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;

SELECT lake_name FROM lake WHERE state_name = "california" ;
Generation 11: SELECT lake_name FROM lake WHERE state_name = "california" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 ;
Generation 12: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Generation 13: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Generation 14: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;

SELECT DISTINCT STATEalias0 FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE = "mississippi" ;
Generation 15: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 16: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT RIVERalias0.HIGHEST_POINT FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT STATEalias1.TRAVERSE FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "pennsylvania" ) ORDER BY RIVERalias0.HIGHEST_POINT ASC LIMIT 1 ;
Generation 17: The SQL cannot be executed.

SELECT T1.state_name, T1.lowest_point FROM state AS T1 INNER JOIN highlow AS T2 ON T1.state_name = T2.state_name WHERE T2.lowest_point = 'sea level' ORDER BY T1.lowest_point ASC ;
Generation 18: The SQL cannot be executed.

SELECT RIVERalias0.LONGEST_POINT FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME IN ( SELECT TRAVERSE FROM TRAVERSE AS TRAVERSEalias0 WHERE TRAVERSEalias0.RIVER_NAME = "colorado" ) ORDER BY RIVERalias0.LONGEST_POINT DESC LIMIT 1 ;
Generation 19: The SQL cannot be executed.

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "new york" ORDER BY LENGTH(RIVERalias0.TRAVERSE) DESC LIMIT 1 ;
Generation 20: The search result does not exist.

SELECT COUNT( RIVERalias0.TRAVERSE ) FROM RIVER AS RIVERalias0 WHERE RIVERalias0.STATE_NAME = "new york" ;
Generation 21: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "maine" INTERSECT SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = ( SELECT STATEalias1.CAPITAL FROM STATE AS STATEalias1 WHERE STATEalias1.CAPITAL = "maine" ) ;
Generation 22: The search result does not exist.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER IN ( SELECT TRAVERSE FROM TRAVERSE AS TRAVERSEalias0 WHERE TRAVERSEalias0.STATE_NAME = "iowa" ) ;
Generation 23: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER IN ( SELECT TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "delaware" ) ;
Generation 24: The SQL cannot be executed.

SELECT COUNT(STATEalias0.state_name) FROM STATE AS STATEalias0 WHERE STATEalias0.state_name IN ( SELECT STATEalias1.state_name FROM STATE AS STATEalias1 WHERE STATEalias1.state_name IN ( SELECT STATEalias0.state_name FROM STATE AS STATEalias0 WHERE STATEalias0.state_name IN ( SELECT STATEalias1.state_name FROM STATE AS STATEalias1 WHERE STATEalias1.state_name IN ( SELECT STATEalias0.state_name FROM STATE AS STATEalias0 WHERE STATEalias0.state_name IN ( SELECT STATEalias1.state_name FROM STATE AS STATEalias1 WHERE STATEalias1.state_name IN ( SELECT STATEalia ;
Generation 25: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "dallas" ;
Generation 26: The search result does not exist.

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "california" AND CITYalias0.CITY_NAME = "san_diego" ;
Generation 27: The search result does not exist.

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 28: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "chicago" ;
Generation 29: The search result does not exist.

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "dallas" ;
Generation 30: The search result does not exist.

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "arkansas" ORDER BY CITYalias0.POPULATION ASC LIMIT 1 ;
Generation 31: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = "arkansas" ORDER BY CITYalias0.POPULATION ASC LIMIT 1 ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION > ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 WHERE STATEalias1.RIVER_NAME = "colorado" ) AND STATEalias0.RIVER_NAME IN ( SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME IN ( SELECT TRAVERSE FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_POINT > ( SELECT MAX( HIGHLOWalias1.HIGHEST_POINT ) FROM HIGHLOW AS HIGHLO ;
Generation 32: The SQL cannot be executed.

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MIN( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 33: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MIN( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;
Generation 34: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;
Generation 35: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;
Generation 36: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ORDER BY LENGTH(RIVERalias0.RIVER_NAME) DESC LIMIT 1 ;
Generation 37: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ORDER BY LENGTH(RIVERalias0.RIVER_NAME) DESC LIMIT 1 ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 38: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = ( SELECT STATEalias1.STATE_NAME FROM STATE AS STATEalias1 WHERE STATEalias1.POPULATION = ( SELECT MIN( STATEalias0.POPULATION ) FROM STATE AS STATEalias0 ) ) ;
Generation 39: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.STATE_NAME = ( SELECT STATEalias1.STATE_NAME FROM STATE AS STATEalias1 WHERE STATEalias1.POPULATION = ( SELECT MIN( STATEalias0.POPULATION ) FROM STATE AS STATEalias0 ) ) ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 40: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;
Generation 41: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATIONDENSITY = ( SELECT MIN( STATEalias1.POPULATIONDENSITY ) FROM STATE AS STATEalias1 ) ;
Generation 42: The SQL cannot be executed.

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME IN ( SELECT STATEalias1.BORDER FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME IN ( SELECT STATEalias0.BORDER FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME IN ( SELECT STATEalias1.BORDER FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME IN ( SELECT STATEalias0.BORDER FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME IN ( SELECT STATEalias1.BORDER FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME IN ( SELEC ;
Generation 43: The SQL cannot be executed.

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "montana" ;
Generation 44: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "montana" ;

SELECT DISTINCT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.BORDER_INFO IS NULL ;
Generation 45: The SQL cannot be executed.

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATIONDENSITY = ( SELECT MIN( STATEalias1.POPULATIONDENSITY ) FROM STATE AS STATEalias1 ) ;
Generation 46: The SQL cannot be executed.

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "atlanta" AND STATEalias0.CAPITAL = "georgia" ;
Generation 47: The search result does not exist.

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) AND RIVERalias0.RIVER_NAME NOT IN ( SELECT RIVERalias1.RIVER_NAME FROM RIVER AS RIVERalias1 WHERE RIVERalias1.RIVER_NAME IN ( SELECT RIVERalias2.RIVER_NAME FROM RIVER AS RIVERalias2 WHERE RIVERalias2.RIVER_NAME I ;
Generation 48: The SQL cannot be executed.

In [27]:
dev_data = Dataset.from_list(temp_dataset_dev, features=features)
dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})
tp, tn, fp, fn, exact_match, exact_match_rate = compare_results(dataset['dev'])
syntax_rate = sql_syntax_correct_rate(dataset['dev'])
precision, recall, f1 = calculate_metrics(tp, fp, fn)

print(f'tp: {tp}, tn: {tn}, fp: {fp}, fn: {fn}, exact match: {exact_match}, exact match rate: {exact_match_rate}')
print(f'sql syntax rate: {syntax_rate}')
print(f'precision: {precision}, recall: {recall}, f1 score: {f1}')

tp: 0, tn: 0, fp: 0, fn: 180, exact match: 0, exact match rate: 0.0
sql syntax rate: 0.0
precision: 0, recall: 0.0, f1 score: 0

In [19]:
# try figure out how to set up the fine-tuning config
sft_config = SFTConfig(
    num_train_epochs=3,
    max_seq_length=1024,
    dataset_batch_size=2,
    per_device_train_batch_size=1,
    per_device_eval_batch_size=1,
    gradient_accumulation_steps=1,
    fp16=True,
    logging_steps=100,
    logging_dir='./qwen-05_fine_tuned_model',
    output_dir='./qwen-05_fine_tuned_model',
)

# Create the SFT Trainer
trainer = SFTTrainer(
    model=model,
    tokenizer=tokenizer,
    train_dataset=train_dataset,
    eval_dataset=test_dataset,
    args=sft_config,
)

# Fine-tune the model
trainer.train()

# Save the fine-tuned model
trainer.save_model('./qwen-05_fine_tuned_model')

Map:   0%|          | 0/547 [00:00<?, ? examples/s]

Map:   0%|          | 0/277 [00:00<?, ? examples/s]

In [20]:
temp_dataset_dev = evaluate(dataset['dev'], model, tokenizer)

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = "arizona" ;
Generation 1: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arizona" ) AND CITYalias0.STATE_NAME = "arizona" ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "texas" ) AND CITYalias0.STATE_NAME = "texas" ;
Generation 2: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "texas" ) AND CITYalias0.STATE_NAME = "texas" ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "missouri" ) AND CITYalias0.STATE_NAME = "missouri" ;
Generation 3: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "missouri" ) AND CITYalias0.STATE_NAME = "missouri" ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ;
Generation 4: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;
Generation 5: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "texas" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;
Generation 6: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "california" ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;
Generation 7: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "new mexico" ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "washington" ;
Generation 8: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "washington" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 9: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MIN( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;
Generation 10: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.CAPITAL = "albany" ;

SELECT LAKEalias0.LAKE_NAME FROM LAKE AS LAKEalias0 WHERE LAKEalias0.STATE_NAME = "california" ;
Generation 11: SELECT LAKEalias0.LAKE_NAME FROM LAKE AS LAKEalias0 WHERE LAKEalias0.STATE_NAME = "california" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 ;
Generation 12: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Generation 13: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;
Generation 14: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "colorado" ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "mississippi" ;
Generation 15: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.RIVER_NAME = "mississippi" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;
Generation 16: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.LOWEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "pennsylvania" ;
Generation 17: SELECT HIGHLOWalias0.LOWEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "pennsylvania" ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 , STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = HIGHLOWalias0.STATE_NAME AND STATEalias0.STATE_NAME IN ( SELECT HIGHLOWalias1.STATE_NAME FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.LOWEST_ELEVATION = ( SELECT MIN( HIGHLOWalias2.LOWEST_ELEVATION ) FROM HIGHLOW AS HIGHLOWalias2 ) ) ;
Generation 18: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 , STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = HIGHLOWalias0.STATE_NAME AND STATEalias0.STATE_NAME IN ( SELECT HIGHLOWalias1.STATE_NAME FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.LOWEST_ELEVATION = ( SELECT MIN( HIGHLOWalias2.LOWEST_ELEVATION ) FROM HIGHLOW AS HIGHLOWalias2 ) ) ;

SELECT MAX( DISTINCT RIVERalias0.LENGTH ) FROM RIVER AS RIVERalias0 ;
Generation 19: SELECT MAX( DISTINCT RIVERalias0.LENGTH ) FROM RIVER AS RIVERalias0 ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 WHERE RIVERalias1.TRAVERSE = "new york" ) AND RIVERalias0.TRAVERSE = "new york" ;
Generation 20: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 WHERE RIVERalias1.TRAVERSE = "new york" ) AND RIVERalias0.TRAVERSE = "new york" ;

SELECT COUNT( RIVERalias0.RIVER_NAME ) FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE = "new york" ;
Generation 21: SELECT COUNT( RIVERalias0.RIVER_NAME ) FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE = "new york" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "maine" ;
Generation 22: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "maine" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "iowa" ;
Generation 23: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "iowa" ;

SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "delaware" ;
Generation 24: SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "delaware" ;

SELECT COUNT( BORDER_INFOalias0.BORDER ) FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME IN ( SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME IN ( SELECT STATEalias1.STATE_NAME FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME IN ( SELECT STATEalias2.STATE_NAME FROM STATE AS STATEalias2 WHERE STATEalias2.STATE_NAME IN ( SELECT STATEalias3.STATE_NAME FROM STATE AS STATEalias3 WHERE STATEalias3.STATE_NAME IN ( SELECT STATEalias4.STATE_NAME FROM STATE AS STATEalias4 WHERE STATEalias4.STATE_NAME IN ( SELEC ;
Generation 25: The SQL cannot be executed.

SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;
Generation 26: SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;

SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "san diego" ;
Generation 27: SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "san diego" ;

SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 28: SELECT STATEalias0.POPULATION FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "chicago" ;
Generation 29: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "chicago" ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;
Generation 30: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "dallas" ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arkansas" ) AND CITYalias0.STATE_NAME = "arkansas" ;
Generation 31: SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "arkansas" ) AND CITYalias0.STATE_NAME = "arkansas" ;

SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT RIVERalias1.TRAVERSE FROM RIVER AS RIVERalias1 WHERE RIVERalias1.LENGTH = ( SELECT MAX( RIVERalias2.LENGTH ) FROM RIVER AS RIVERalias2 ) ) ;
Generation 32: SELECT RIVERalias0.TRAVERSE FROM RIVER AS RIVERalias0 WHERE RIVERalias0.TRAVERSE IN ( SELECT RIVERalias1.TRAVERSE FROM RIVER AS RIVERalias1 WHERE RIVERalias1.LENGTH = ( SELECT MAX( RIVERalias2.LENGTH ) FROM RIVER AS RIVERalias2 ) ) ;

SELECT STATEalias0.DENSITY FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MIN( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 33: SELECT STATEalias0.DENSITY FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MIN( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ;
Generation 34: SELECT HIGHLOWalias0.STATE_NAME FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.HIGHEST_ELEVATION > ( SELECT HIGHLOWalias1.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias1 WHERE HIGHLOWalias1.STATE_NAME = "colorado" ) ;

SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;
Generation 35: SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "new mexico" ;

SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;
Generation 36: SELECT HIGHLOWalias0.HIGHEST_ELEVATION FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "florida" ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;
Generation 37: SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 ) ;

SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ;
Generation 38: SELECT CITYalias0.STATE_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 ) ;

SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MIN( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME IN ( SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ) ) AND CITYalias0.STATE_NAME IN ( SELECT STATEalias2.STATE_NAME FROM STATE AS STATEalias2 WHERE STATEalias2.AREA = ( SELECT MAX( STATEalias3.AREA ) FROM STATE AS STATEalias3 ;
Generation 39: The SQL cannot be executed.

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;
Generation 40: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.AREA = ( SELECT MAX( STATEalias1.AREA ) FROM STATE AS STATEalias1 ) ;

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;
Generation 41: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME = "mississippi" ) ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;
Generation 42: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;

SELECT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH = ( SELECT MAX( RIVERalias1.LENGTH ) FROM RIVER AS RIVERalias1 WHERE RIVERalias1.TRAVERSE IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 WHERE BORDER_INFOalias0.STATE_NAME IN ( SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.POPULATION = ( SELECT MAX( STATEalias1.POPULATION ) FROM STATE AS STATEalias1 ) ) ) ) AND RIVERalias0.TRAVERSE IN ( SELECT BORDER_INFOalia ;
Generation 43: The SQL cannot be executed.

SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "montana" ;
Generation 44: SELECT HIGHLOWalias0.HIGHEST_POINT FROM HIGHLOW AS HIGHLOWalias0 WHERE HIGHLOWalias0.STATE_NAME = "montana" ;

SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME NOT IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 ) ;
Generation 45: SELECT STATEalias0.STATE_NAME FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME NOT IN ( SELECT BORDER_INFOalias0.BORDER FROM BORDER_INFO AS BORDER_INFOalias0 ) ;

SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;
Generation 46: SELECT STATEalias0.AREA FROM STATE AS STATEalias0 WHERE STATEalias0.DENSITY = ( SELECT MIN( STATEalias1.DENSITY ) FROM STATE AS STATEalias1 ) ;

SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "atlanta" AND CITYalias0.STATE_NAME = "georgia" ;
Generation 47: SELECT CITYalias0.POPULATION FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "atlanta" AND CITYalias0.STATE_NAME = "georgia" ;

SELECT DISTINCT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH > 750 AND RIVERalias0.TRAVERSE = "texas" ;
Generation 48: SELECT DISTINCT RIVERalias0.RIVER_NAME FROM RIVER AS RIVERalias0 WHERE RIVERalias0.LENGTH > 750 AND RIVERalias0.TRAVERSE = "texas" ;

In [21]:
dev_data = Dataset.from_list(temp_dataset_dev, features=features)
dataset = DatasetDict({'train': train_data, 'dev': dev_data, 'test': test_data})
tp, tn, fp, fn, exact_match, exact_match_rate = compare_results(dataset['dev'])
syntax_rate = sql_syntax_correct_rate(dataset['dev'])
precision, recall, f1 = calculate_metrics(tp, fp, fn)

print(f'tp: {tp}, tn: {tn}, fp: {fp}, fn: {fn}, exact match: {exact_match}, exact match rate: {exact_match_rate}')
print(f'sql syntax rate: {syntax_rate}')
print(f'precision: {precision}, recall: {recall}, f1 score: {f1}')

tp: 145, tn: 0, fp: 2, fn: 27, exact match: 43, exact match rate: 0.8958333333333334
sql syntax rate: 0.9375
precision: 0.9863945578231292, recall: 0.8430232558139535, f1 score: 0.9090909090909091